[receive]
	requireChangeId = true
[access "refs/heads/*"]
	label-Verified = -1..+2 group TYPO3v4/Extensions/log
	submit = group TYPO3v4/Extensions/log
[access "refs/tags/*"]
	pushTag = group TYPO3v4/Extensions/log
	push = group TYPO3v4/Extensions/log
[access "refs/*"]
	create = group TYPO3v4/Extensions/log
	push = group TYPO3v4/Extensions/log
[access "refs/for/refs/*"]
	push = group TYPO3v4/Extensions/log
